body, html
{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

h1
{
    margin: 20px 0px 0px;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a:link, a:visited
{
    color:#009ea3;
    text-decoration: none;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
